@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap");

html,
body {
  font-family: "Anek Bangla", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  --main-bg-color: #242020;
  --primary-color: #423b3b;
  --secondary-color: #555151;
  --white-color: #ffffff;
  --main-bg-gradient: linear-gradient(
      120deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(39, 39, 39, 1) 100%
    )
    height: 100%;
}
