#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(39, 39, 39, 1) 85%
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  border-bottom: none;
  margin: 0px;
  background-size: cover;
}

.nav-btn {
  font-family: "Pluma", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
  margin-left: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s;
  transition: transform 0.3s ease 0s;
}

.nav-btn:hover {
  box-shadow: 2px 10px 10px rgb(75, 71, 71);
  opacity: 1;
  border-radius: 30%;
  transform: translateY(-8px);
}

@media (max-width: 1024px) {
  .nav-btn {
    font-size: 16px;
    margin-left: 20px;
    padding: 20px 20px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  #header {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }

  .nav-btn {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
  }
}

/* Very Small Devices */
@media (max-width: 480px) {
  .nav-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
